
@{
    ViewBag.Title = "Background";
}

<!DOCTYPE html>
<html>

<head>
    <!--使用行内样式引入CSS--> 
   
</head>

<body>

    <div >
        <h1 style=
            "background-color: black;
            color: white;
            text-align: center;
            padding: 5px;">教育背景</h1>
        
    </div>

    <div style=
            " line-height: 30px;
            background-color: #eeeeee;
            height: 300px;
            width: 100px;
            float: left;
            padding: 5px;">
        本科期间<br/>
        研究生期间<br/>
        出国期间<br/>
    </div>

    <div style=
            "width: 350px;
            float: left;
            padding: 10px;">
        <h2>本科期间</h2>
        <p>
            浙江大学 本科     2015~2019年
        </p>
        <p>
            浙江大学 硕士研究生     2019~2022年
        </p>
    </div>

    <div style=
            "background-color: black;
            color: white;
            clear: both;
            text-align: center;
            padding: 5px;">
        <p><a class="btn btn-default" href="~/Home/Experience">实习经历 &raquo;</a>
           <a class="btn btn-default" href="~/Home/Ability">职业技能 &raquo;</a>
           <a class="btn btn-default" href="~/Home">返回主页 &raquo;</a></p>
    </div>

</body>
</html>

