
@{
    ViewBag.Title = "Experience";
}

<!DOCTYPE html>
<html>

<head>
    <link type="text/css" rel="stylesheet" href="~/Content/style.css" />  
    <!--链接式:推荐使用-->
</head>

<body>

    <div id="header">
        <h1>实习经历</h1>

    </div>

    <div id="nav">
        运维经历<br />
        其它经历<br />
    </div>

    <div id="section">
        
        <h2> 运维经历</h2>
        <hr />
        <p> <i>2018.7~2018.8</i><b>     科盛集团有限公司        维护工程师实习</b></p>
        <ul>
            <li>管理办公区域一切网络设施，定期维护</li>
            <li>处理简单的故障，或将故障升级到下一级</li>
            <li>部署和维护公司SAP系统 </li>
        </ul>
        <h2>其它经历</h2>
        <hr />
        <p> <i>2016.9~2017.6</i><b>     cc98论坛        日常维护</b></p>
        <ul>
            <li>管理学校FTP服务器、网络设备</li>
            <li>处理简单的故障，或将故障升级到下一级</li>
            <li>安装调试cisco设备 </li>
        </ul>
    </div>

    <div id="footer">
        <p>
            <a class="btn btn-default" href="~/Home/Ability">职业技能 &raquo;</a>
            <a class="btn btn-default" href="~/Home/Background">教育背景 &raquo;</a>
            <a class="btn btn-default" href="~/Home">返回主页 &raquo;</a>
        </p>
    </div>

</body>
</html>


