@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>个人简历</h1>

    <p class="lead">姓名：陈心宇      学号：3150100426</p>
    <p><a href="~/Home/Other" class="btn btn-primary btn-lg">了解更多 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>教育背景</h2>
        <p>
            浙江大学 本科     2015~2019年    
            <br/>......  
        </p>
        <p><a class="btn btn-default" href="~/Home/Background">了解更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>实习经历</h2>
        <p>浙江科盛有限公司  
        <br/>... ...  
        </p>
        <p><a class="btn btn-default" href="~/Home/Experience">了解更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>职业技能</h2>
        <p>基于Linux操作系统的开发
        <br/>......
        </p>
        <p><a class="btn btn-default" href="~/Home/Ability">了解更多 &raquo;</a></p>
    </div>
</div>